{{ partial "top.html" . }}
{{ $paginator := .Paginate .Data.Pages.ByPublishDate }}
<div>
<p align="right">свободная область, но чтоб там можно было написать свой текст</p>
</div><br>
    {{ with .Site.Taxonomies.categories }}
    <div>
        <ul class="categories">
            {{ range $name, $taxonomy := . }}
            <li><h3>{{ $name }}</h3></li>
                {{ range $taxonomy.Pages }}
                    <article>
                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                    </article>
                {{ end }}
            {{ end }}
        </ul>
    </div>
    {{ end }}

{{ template "_internal/pagination.html" . }}
{{ partial "bottom.html" . }}
