<base href="/">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="author" content="{{ with .Site.Params.author }}{{ . }}{{ end }}">
{{ if isset . "Description" }}
<meta name="description" content="{{ .Description }}">
{{ else }}
<meta name="description" content="{{ with .Site.Params.description }}{{ . }}{{ end }}">
{{ end }}
<title>{{ .Title }}</title>
{{ .Hugo.Generator }}
{{ partial "highlightjs.html" }}
<link href="/css/fonts.css" rel="stylesheet" type="text/css">
<link href="/css/theme.min.css" rel="stylesheet" type="text/css">
