<nav class="col-md-3">
    <h3 class="home-link"><a href="{{ index .Site.Params "rootlink" | default .Site.BaseURL }}">{{ ( index $.Site.Data.translations (default $.Site.Params.locale "en-US") ).root }}</a></h3>
    {{ with .Site.Taxonomies.categories }}
    <div id="categories" class="open">
        <h3 data-open="categories">{{ ( index $.Site.Data.translations (default $.Site.Params.locale "en-US") ).categories }}</h3>
        <ul>
            {{ range $name, $taxonomy := . }}
            <ul>&nbsp;&nbsp;&nbsp;{{ $name }}:<br>
                {{ range $taxonomy.Pages }}
                    <li>
                        <a href="{{ .Permalink }}"><b>{{ .Title }}</b></a><br>
                    </li>
                {{ end }}
            </ul>
            {{ end }}
        </ul>
    </div>
    {{ end }}
</nav>
